{% extends "base/base.html" %}
{% block content %}

  <div class="container search-container">
    <div class="input-group search-input">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" placeholder="Procurar">
    </div>

    <a href="{% url 'insurance_form' %}" class="btn register-button">Registar cliente</a>
  </div>

    {% if messages %}
        {% for message in messages %}
            {% include "includes/sucess_modal_dialog.html" %}
       {% endfor %}
    {% endif %}

    <div class="table-responsive">
        <table class="table">
          <thead class="table-custom">
          <tr>
            <th>ID</th>
            <th>Nome da empresa</th>
            <th>Tipo</th>
            <th>Contacto</th>
            <th>Endereço</th>
            <th>Detalhes</th>
          </tr>
          </thead>
          <tbody>
          {% for insuranceCompany in insuranceCompany %}
          <tr>
            <td>{{insuranceCompany.id}}</td>
            <td>{{insuranceCompany.name}}</td>
            <td><span class="badge bg-primary">{{ insuranceCompanyType }}</span></td>
            <td>{{insuranceCompany.phoneNumber}}</td>
            <td>{{insuranceCompany.address}}</td>
            <td><button class="btn btn-details"><i class="fa fa-eye"></i></button></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}