{% extends "base/base.html" %}
{% block content %}

  <div class="container search-container">
    <div class="input-group search-input">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" placeholder="Procurar">
    </div>
    <a href="#" class="btn register-button" data-bs-toggle="modal" data-bs-target="#addInsuranceModal">Adicionar Provedor</a>
<!--    <a href="{% url 'add_insurance_supplier' %}" class="btn register-button">Adicionar Provedor</a>x-->
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addInsuranceModal" tabindex="-1" aria-labelledby="addInsuranceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 style="font-weight: 400;font-size: 25px;">Lista dos provedores</h3>
          <div class="mb-3">
             <input class="form-control" placeholder="pesquisar">
          </div>
         <form  method="post" autocomplete="off" enctype="multipart/form-data">
              {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field, errors in form.errors.items %}
                            <strong>{{ field }}:</strong> {{ errors|join:", " }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
             <button type="submit">Adicionar</button>
        </form>
        </div>
      </div>
    </div>
  </div>

    {% if messages %}
        {% for message in messages %}
            {% include "includes/sucess_modal_dialog.html" %}
       {% endfor %}
    {% endif %}

<div class="table-responsive">
        <table class="table">
          <thead class="table-custom">
          <tr>
            <th>ID</th>
            <th>Nome do provedor</th>
            <th>Tipo</th>
            <th>Contacto</th>
            <th>Endereço</th>
            <th>Estado</th>
            <th>Detalhes</th>
          </tr>
          </thead>
          <tbody>
          {% for supplier in suppliers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ supplier.name}}</td>
            <td>N/A</td>
            <td>{{ supplier.phoneNumber}}</td>
            <td>{{ supplier.address}}</td>
            <td><span class="badge bg-primary">Activo</span></td>
            <td><button class="btn btn-details"><i class="fa fa-eye"></i></button></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock content %}