{% extends "base/base.html" %}
{% block content %}
    {% include "includes/sucess_modal_dialog.html" %}
  <div class="container search-container">
    <!-- Campo de busca com ícone -->
    <div class="input-group search-input">
      <span class="input-group-text">
        <i class="bi bi-search"></i> <!-- Ícone de busca do Bootstrap Icons -->
      </span>
      <input type="text" class="form-control" placeholder="Procurar">
    </div>

    <!-- Botão de registro -->
    <a href="#" class="btn register-button" data-bs-toggle="modal" data-bs-target="#addInsuranceModal">Adicionar Provedor</a>

  </div>

{% include "includes/sucess_modal_dialog.html" %}

<div class="table-responsive">
        <table class="table">
          <thead class="table-custom">
          <tr>
            <th>ID</th>
            <th>Nome da empresa</th>
            <th>Contacto</th>
            <th>Endereço</th>
            <th>Detalhes</th>
          </tr>
          </thead>
          <tbody>
          {% for beneficiaries in beneficiaries %}
          <tr>
            <td>{{ beneficiaries.id }}</td>
            <td>{{ beneficiaries.name}}</td>
            <td>{{ beneficiaries.nuitNumber}}</td>
            <td>{{ beneficiaries.address}}</td>
            <td><a href="#" class="btn btn-details"><i class="fa fa-eye"></i></a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

  <div class="modal fade" id="addInsuranceModal" tabindex="-1" aria-labelledby="addInsuranceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 style="font-weight: 400;font-size: 25px;">Dados para aprovação</h3>
         <form id="procedure-form" method="POST" action="{% url 'treatment_show' %}">
              {% csrf_token %}
               <input type="text" class="form-control" name="id" placeholder="ID do Membro">
             <button class="btn register-button mt-3" type="submit">Proximo</button>
        </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}