{% extends "base/base.html" %}
{% block content %}
<div class="container">
      <div class="form-section">
        <div class="beneficiarie">
            <p>Nome: {{ beneficiary.name }}</p>
            <p>Empresa: {{ beneficiary.client.name }}</p>
            <p>Plano: {{ beneficiary.insurancePlan.name }}</p>
        </div>
        <p style="font-weight: 400;">Lista de procedimento
        </p>
      <div class="table-responsive mt-4">
    <form id="procedure-form">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Procedimento</th>
                    <th>Plafon</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for procedure in procedures %}
                    <tr>
                        <td>{{ procedure.id }}</td>
                        <td>{{ procedure.procedure.name }}</td>
                        <td>{{ procedure.procedure.base_price }}</td>
                        <td>
                            <input type="checkbox" class="procedure-checkbox" value="{{ procedure.id }}">
                            <input type="hidden" class="procedure-checkbox" value="{{ beneficiary.id }}" id="beneficiary">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botão para salvar -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#beneficiariosModalModal">Continuar</button>
       <div class="modal fade" id="beneficiariosModalModal" tabindex="-1" aria-labelledby="beneficiariosModalModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-fullscreen">
         <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="beneficiariosModalModalLabel">O processo foi bem sucedido? <a href="#" id="save-button">Continuar <i class="fa fa-arrow-circle-right"></i> </a></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                         <div class="iframe-container">
                            <iframe class="embed-responsive-item"  allow="camera; microphone"  src="https://fnbsdk.tablu.tech?id=ggpsz4PAG1yCQlqaXR3O372" allowfullscreen></iframe>
                        </div>

                      </div>
         </div>
     </div>
</div>

    </form>
</div>
      </div>
    </div>
<script>
    // Aguarda o carregamento completo da página
    document.addEventListener('DOMContentLoaded', function () {
      // Seleciona o modal pelo ID
      var myModal = new bootstrap.Modal(document.getElementById('beneficiariosModalModal'));

      // Abre o modal
      // myModal.show();
    });
</script>
<script>
        // Função JavaScript para capturar os IDs dos checkboxes selecionados e o preço negociado
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("save-button").addEventListener("click", function (event) {

                event.preventDefault(); // Impede o envio padrão do formulário

                // Coletar os IDs dos checkboxes marcados e os preços negociados
                const selectedProcedures = Array.from(
                    document.querySelectorAll(".procedure-checkbox:checked")
                ).map(checkbox => {
                    const row = checkbox.closest('tr');
                    // const negotiatedPrice = row.querySelector(".negotiated-price").value; // Captura o preço negociado
                    return {
                        procedure_id: checkbox.value,
                    };
                });

                if (selectedProcedures.length === 0) {
                    alert("Selecione pelo menos um procedimento.");
                    return;
                }

                // Fazer a requisição AJAX
                fetch("{% url 'save_treatment_procedures' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({
                        procedures: selectedProcedures,
                        beneficiary: document.getElementById("beneficiary").value,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Procedimentos salvos com sucesso!");
                    } else {
                        alert(data.error || "Erro ao salvar procedimentos.");
                    }
                })
                .catch(error => console.error("Erro na requisição:", error));
            });
        });
    </script>
{% endblock content %}