
      <!-- Summary Cards -->
      <div class="row g-4 mt-3">
        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card-custom card-custom-cor-1">
            <div class="options-icon  pt-3">
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <p class="pt-3">Clientes</p>
            <h1 class="pt-3">{{ supplier_insuranceCompanys }}</h1>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card-custom card-custom-cor-2">
            <div class="options-icon pt-3">
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <p class="pt-3">Procedimentos</p>
            <h1 class="pt-3">12</h1>
          </div>
        </div>

      </div>

      <h2 class="pt-4 pb-4">Lista de Clientes</h2>
      <!-- Companies Table -->
      <div class="table-responsive">
        <table class="table">
          <thead class="table-custom">
          <tr>
            <th>ID</th>
            <th>Nome da empresa</th>
            <th>Contacto</th>
            <th>Endereço</th>
            <th>Detalhes</th>
          </tr>
          </thead>
          <tbody>
          {% for insuranceCompany in insuranceCompanys %}
          <tr>
            <td>{{insuranceCompany.id}}</td>
            <td>{{ insuranceCompany.name}}</td>
            <td>{{ insuranceCompany.phoneNumber}}</td>
            <td>{{ insuranceCompany.address}}</td>
            <td><a href="{% url 'supplier_client_show' insuranceCompany.id %}" class="btn btn-details"><i class="fa fa-eye"></i></a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>