{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "includes/sucess_modal_dialog.html" %}
<div class="container">
    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="plano-tab" data-bs-toggle="tab" data-bs-target="#plano" type="button" role="tab" aria-controls="plano" aria-selected="true">Planos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="beneficiarios-tab" data-bs-toggle="tab" data-bs-target="#beneficiarios" type="button" role="tab" aria-controls="beneficiarios" aria-selected="false">Beneficiários</button>
        </li>
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content" id="myTabContent">
        <!-- plano Tab -->
        <div class="tab-pane fade show active" id="plano" role="tabpanel" aria-labelledby="plano-tab">
              <div class="container search-container">
                <!-- Campo de busca com ícone -->
                <div class="input-group search-input">
                  <span class="input-group-text">
                    <i class="bi bi-search"></i> <!-- Ícone de busca do Bootstrap Icons -->
                  </span>
                  <input type="text" class="form-control" placeholder="Procurar">
                </div>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#planModalModal" data-bs-whatever="@mdo" class="btn register-button">Adicionar Plano</a>
              </div>

                <div class="modal fade" id="planModalModal" tabindex="-1" aria-labelledby="planModalModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="planModalModalLabel">Adicionar Plano</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                        <form method="post" action="{% url 'client_plan_store' %}">
                            {% csrf_token %}
                             {{form}}

                            <input value="{{client.id}}" name="client" type="hidden">

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Adicionar</button>
                             </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>

            <div class="table-responsive">
        <table class="table">
          <thead class="table-custom">
          <tr>
            <th>ID</th>
            <th>Pacote</th>
            <th>Estado</th>
            <th>Detalhes</th>
          </tr>
          </thead>
          <tbody>

          {% for insurancePlan in insurancePlans %}
          <tr>
            <td>{{ insurancePlan.id }}</td>
            <td>{{insurancePlan.name}}</td>
            <td><span class="badge bg-primary">{{ insurancePlan.status }}</span></td>
            <td><a href="{% url 'insurance_plan_show' insurancePlan.id %}" class="btn btn-details"><i class="fa fa-eye"></i></a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
        </div>

        <!-- Beneficiários Tab -->
        <div class="tab-pane fade" id="beneficiarios" role="tabpanel" aria-labelledby="beneficiarios-tab">
              <div class="container search-container">
                <!-- Campo de busca com ícone -->
                <div class="input-group search-input">
                  <span class="input-group-text">
                    <i class="bi bi-search"></i> <!-- Ícone de busca do Bootstrap Icons -->
                  </span>
                  <input type="text" class="form-control" placeholder="Procurar">
                </div>

                <!-- Botão de registro -->
                <a href="{% url 'beneficiarie_client_create' client_id=client.id %}" class="btn register-button">Adicionar</a>
              </div>
            <div class="table-responsive">
                    <table class="table">
                      <thead class="table-custom">
                      <tr>
                        <th>ID</th>
                        <th>Nome da empresa</th>
                        <th>Email</th>
                        <th>Estado</th>
                        <th>Detalhes</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for beneficiaries in beneficiaries %}
                      <tr>
                        <td>{{ beneficiaries.id }}</td>
                        <td>{{beneficiaries.name}}</td>
                        <td>{{beneficiaries.email}}</td>
                        <td>{{beneficiaries.insurancePlan}}</td>
                        <td><a href="#" class="btn btn-details"><i class="fa fa-eye"></i></a></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
        </div>
    </div>
</div>

{% if linkGenerated %}
<div class="modal fade" id="beneficiariosModalModal" tabindex="-1" aria-labelledby="beneficiariosModalModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-fullscreen">
         <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="beneficiariosModalModalLabel">O processo foi bem sucedido? <a href="{% url 'client_beneficiaries_store' session=session_id client=client.id %}">Continuar <i class="fa fa-arrow-circle-right"></i> </a></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                         <div class="iframe-container">
                            <iframe class="embed-responsive-item"  allow="camera; microphone"  src="{{ linkGenerated }}" allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send message</button>
                           </div>
                      </div>
         </div>
     </div>
</div>


    <script>
        const userName = "{{ session_id }}";

        // Verificar se já existe um user_name no localStorage
        if (!localStorage.getItem("session_id")) {
            localStorage.setItem("session_id", userName);
            console.log("user_name saved in localStorage:", userName);
        } else {
            console.log("user_name already exists in localStorage:", localStorage.getItem("session_id"));
        }
    </script>
<script>
    // Aguarda o carregamento completo da página
    document.addEventListener('DOMContentLoaded', function () {
      // Seleciona o modal pelo ID
      var myModal = new bootstrap.Modal(document.getElementById('beneficiariosModalModal'));

      // Abre o modal
      myModal.show();
    });
</script>
{% endif %}



{% endblock content %}