{% if messages %}
    {% for message in messages %}
       <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">

        <div class="modal-body">
           <div class="container d-flex justify-content-center align-items-center full-height mt-5 mb-5">
              <div class="text-center">
                <i class="fa fa-check me-2 fa-sucess mb-3"></i>
                <p class="mb-3 text-danger">{{ message|default:"Operação efectuada sem sucesso!" }}</p>
                <button type="button" class="btn btn-secondary sucess-btn pl-3 pr-3" data-bs-dismiss="modal">Fechar</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Script to show modal on load -->
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var myModal = new bootstrap.Modal(document.getElementById('myModal'));
          myModal.show();
        });
      </script>
    {% endfor %}
{% endif %}

