{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
        {% for field in form %}
        {% if field.errors %}
            <div class="error">
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
 <div class="container">
     <!-- Título e etapas -->


     <form id="multiStepForm" action="#" method="POST" enctype="multipart/form-data" class="multiStepForm">
         {% csrf_token %}

        {% include "supplier/steps/step1.html" %}
        {% include "supplier/steps/step2.html" %}

     </form>

      </div>
    </div>

<script>
    let currentStep = 0;
    const steps = document.querySelectorAll('.stepv2');

    function nextStep() {
        steps[currentStep].classList.remove('active');
        currentStep++;
        steps[currentStep].classList.add('active');
    }

    function prevStep() {
        steps[currentStep].classList.remove('active');
        currentStep--;
        steps[currentStep].classList.add('active');
    }

</script>

{% endblock content %}