{% extends "base/base.html" %}
{% block content %}

<div class="container search-container">
    <!-- Campo de busca com ícone -->
    <div class="input-group search-input">
      <span class="input-group-text">
        <i class="bi bi-search"></i> <!-- Ícone de busca do Bootstrap Icons -->
      </span>
      <input type="text" class="form-control" placeholder="Procurar">
    </div>
    <a href="{% url 'supplier_form' %}" class="btn register-button">Registar Provedor</a>
  </div>

<div class="table-responsive">
        <table class="table">
          <thead class="table-custom">
          <tr>
            <th>ID</th>
            <th>Nome da empresa</th>
            <th>Contacto</th>
            <th>Endereço</th>
            <th>Detalhes</th>
          </tr>
          </thead>
          <tbody>
          {% for supplier in suppliers %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ supplier.name}}</td>
            <td>{{ supplier.nuitNumber}}</td>
            <td>{{ supplier.address}}</td>
            <td><button class="btn btn-details"><i class="fa fa-eye"></i></button></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock content %}
